/obj/Debug/netcoreapp3.1/AddCard.baml
/obj/Debug/netcoreapp3.1/AddSale.g.cs
/obj/Debug/netcoreapp3.1/AddTrade.baml
/obj/Debug/netcoreapp3.1/AddTrade.g.cs
/obj/Debug/netcoreapp3.1/AddTrade.g.i.cs
/obj/Debug/netcoreapp3.1/MainWindow.baml
/obj/Debug/netcoreapp3.1/MARVELCards_ctzcgb0l_wpftmp.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/MARVELCards_ctzcgb0l_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/MARVELCards_ctzcgb0l_wpftmp.assets.cache
/obj/Debug/netcoreapp3.1/MARVELCards_ctzcgb0l_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netcoreapp3.1/MARVELCards_MarkupCompile.cache
/obj/Debug/netcoreapp3.1/MARVELCards_MarkupCompile.i.cache
/obj/Debug/netcoreapp3.1/MARVELCards_MarkupCompile.lref
/obj/Debug/netcoreapp3.1/MARVELCards_zeqokmxi_wpftmp.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/MARVELCards_zeqokmxi_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/MARVELCards_zeqokmxi_wpftmp.assets.cache
/obj/Debug/netcoreapp3.1/MARVELCards_zeqokmxi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/.idea/.idea.MARVELCards.dir/.idea/vcs.xml
/Images/back.webp
/back.webp
/Images/gold.jpg
/obj/Debug/netcoreapp3.1/MARVELCards.csproj.CoreCompileInputs.cache
/obj/Debug/netcoreapp3.1/MARVELCards_3uawfkc4_wpftmp.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/MARVELCards_3uawfkc4_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/MARVELCards_3uawfkc4_wpftmp.assets.cache
/obj/Debug/netcoreapp3.1/MARVELCards_3uawfkc4_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netcoreapp3.1/MARVELCards_41iil0xf_wpftmp.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/MARVELCards_41iil0xf_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/MARVELCards_41iil0xf_wpftmp.assets.cache
/obj/Debug/netcoreapp3.1/MARVELCards_41iil0xf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netcoreapp3.1/MARVELCards_ak3fan2k_wpftmp.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/MARVELCards_ak3fan2k_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/MARVELCards_ak3fan2k_wpftmp.assets.cache
/obj/Debug/netcoreapp3.1/MARVELCards_ak3fan2k_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netcoreapp3.1/MARVELCards_byx0v5c1_wpftmp.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/MARVELCards_byx0v5c1_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/MARVELCards_byx0v5c1_wpftmp.assets.cache
/obj/Debug/netcoreapp3.1/MARVELCards_byx0v5c1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netcoreapp3.1/MARVELCards_enfwvsjz_wpftmp.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/MARVELCards_enfwvsjz_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/MARVELCards_enfwvsjz_wpftmp.assets.cache
/obj/Debug/netcoreapp3.1/MARVELCards_enfwvsjz_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netcoreapp3.1/MARVELCards_ep102nnr_wpftmp.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/MARVELCards_ep102nnr_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/MARVELCards_ep102nnr_wpftmp.assets.cache
/obj/Debug/netcoreapp3.1/MARVELCards_ep102nnr_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netcoreapp3.1/MARVELCards_gs053vkh_wpftmp.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/MARVELCards_gs053vkh_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/MARVELCards_gs053vkh_wpftmp.assets.cache
/obj/Debug/netcoreapp3.1/MARVELCards_gs053vkh_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netcoreapp3.1/MARVELCards_jmwsor1l_wpftmp.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/MARVELCards_jmwsor1l_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/MARVELCards_jmwsor1l_wpftmp.assets.cache
/obj/Debug/netcoreapp3.1/MARVELCards_jmwsor1l_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netcoreapp3.1/MARVELCards_MarkupCompile.i.lref
/obj/Debug/netcoreapp3.1/MARVELCards_nrat3ouc_wpftmp.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/MARVELCards_nrat3ouc_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/MARVELCards_nrat3ouc_wpftmp.assets.cache
/obj/Debug/netcoreapp3.1/MARVELCards_nrat3ouc_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netcoreapp3.1/MARVELCards_oz0uoxrt_wpftmp.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/MARVELCards_oz0uoxrt_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/MARVELCards_oz0uoxrt_wpftmp.assets.cache
/obj/Debug/netcoreapp3.1/MARVELCards_oz0uoxrt_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netcoreapp3.1/MARVELCards_s0v0c0yl_wpftmp.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/MARVELCards_s0v0c0yl_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/MARVELCards_s0v0c0yl_wpftmp.assets.cache
/obj/Debug/netcoreapp3.1/MARVELCards_s0v0c0yl_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netcoreapp3.1/MARVELCards_usvhdgyj_wpftmp.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/MARVELCards_usvhdgyj_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/MARVELCards_usvhdgyj_wpftmp.assets.cache
/obj/Debug/netcoreapp3.1/MARVELCards_usvhdgyj_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netcoreapp3.1/MARVELCards_ww1sadnx_wpftmp.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/MARVELCards_ww1sadnx_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/MARVELCards_ww1sadnx_wpftmp.assets.cache
/obj/Debug/netcoreapp3.1/MARVELCards_ww1sadnx_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netcoreapp3.1/MARVELCards_ze2mon3r_wpftmp.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/MARVELCards_ze2mon3r_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/MARVELCards_ze2mon3r_wpftmp.assets.cache
/obj/Debug/netcoreapp3.1/MARVELCards_ze2mon3r_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Images/money.jpg
/Images/trade.jpg
